<div class="card-wrapper" >
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="mat-display-2">Q{{question_number}})</mat-card-title>
      <!-- <mat-card-subtitle> This is the subtitle </mat-card-subtitle> -->
    </mat-card-header>
  
    <!-- ! The question goes here -->
    <mat-card-content class="mat-h1">
      <p>
       {{question_text}}
      </p>
    </mat-card-content>

    <mat-card-actions fxLayout="column" fxLayoutGap="2rem">
      <button (click)="clickOnOptionA()" mat-raised-button color="primary" id="firstOption" class="mat-h2"
       >{{OptionA}}</button>
      <button (click)="clickOnOptionB()" mat-raised-button color="primary" class="mat-h2" >{{OptionB}}</button>
      <button (click)="clickOnOptionC()" mat-raised-button color="primary" class="mat-h2">{{OptionC}}</button>
      <button (click)="clickOnOptionD()" mat-raised-button color="primary" id="lastOption" class="mat-h2">{{OptionD}}</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Primary or Accent or Warn -->