@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.endGameText {
  font-size: 2rem;
  text-align: center;
  margin: 3rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 180%;
}
